.action-bar{
	width: 100%;
	height: 10%;
	background-color: rgba(34, 167, 240, 0.5);
	position: relative;
	z-index: 1000;
	top: 0;
}

#listview{
	width: 100%;
	height: 55%;
	overflow:scroll;

}



#listview ul li{
	left: -25px;
	height: auto;
	list-style-type: none;
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
	font-family: 'Roboto'
}

.map-canvas{
	position: relative;
}