<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>
    <body>
      <table class="login-table">
        <tr>
          <td>
            <a href="/auth/facebook"><button id="fb-login"><i class="fa fa-facebook"style="padding-right:5px;"></i> Login with Facebook</button></a>
          </td>
        </tr>
      </table>



      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="js/scripts.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
      <script src="https://cdn.firebase.com/js/simple-login/1.6.2/firebase-simple-login.js"></script>
      
    </body>
</html>
