<!DOCTYPE html>

<html lang="en">
	
 	<head>
    	<title>Blue.</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    	<!-- add this to content to disable zooming: maximum-scale=1, user-scalable=no-->
    	<link href='http://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
        <link href='css/styles.css' rel='stylesheet' type="text/css">
        
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-switch.min.css">
        <link rel="stylesheet" type="text/css" href="css/Flat-UI-master/css/flat-ui.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/bootstrap-switch.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>

        <style type="text/css">
            html { height: 100% }
            body { height: 100%; margin: 0; padding: 0 }
            #map-canvas {
                height: 35%;position:relative;}
        </style>

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false">
        </script>

        <script type="text/javascript">
            var latlngs=[new google.maps.LatLng(37.797305, -122.404634)];
            function initialize() {

                var myLatLng = new google.maps.LatLng(37.797305, -122.404634);

                var mapOptions = {
                    center: myLatLng,
                    zoom: 19
                };
                var map = new google.maps.Map(document.getElementById("map-canvas"),
                    mapOptions);

                var marker = new google.maps.Marker({
                      position: myLatLng,
                      map: map,
                      title: 'Hello World!',
                      icon: 'img/point.png'
                });

                var infowindow = new google.maps.InfoWindow();

                google.maps.event.addListener(marker, 'click', (function(marker) {
                    return function() {
                        infowindow.setContent("Me!");
                        infowindow.open(map, marker);
                    }
                })(marker));

                var myRef = new Firebase("https://blue-outsidehacks.firebaseio.com/");

                myRef.child("10203370578379685").child("group").on("value",function(){
                    var myLatLng = new google.maps.LatLng(36.797305, -121.404634);
                    latlngs.push(myLatLng);

                    var marker = new google.maps.Marker({
                      position: myLatLng,
                      map: map,
                      title: 'Hello World!',
                      icon: 'img/point2.png'
                    });

                    var infowindow = new google.maps.InfoWindow();

                    google.maps.event.addListener(marker, 'click', (function(marker) {
                        return function() {
                            infowindow.setContent("test");
                            infowindow.open(map, marker);
                        }
                    })(marker));

                    var latlngbounds = new google.maps.LatLngBounds();
                    for (var i = 0; i < latlngs.length; i++) {
                        latlngbounds.extend(latlngs[i]);
                    }
                    map.fitBounds(latlngbounds);
                });

            }

            google.maps.event.addDomListener(window, 'load', initialize);
            

        </script>


        
 	</head>

<body>	
	
    <div class="action-bar"></div>

    <div id="map-canvas"></div>

    <div id="listview">
        <ul>
            <li id="one">
                <table id="friend-table">
                    <tr>
                        <td>Areeb Khan</td><td id="checkbox"><input type="checkbox" name="ak-checkbox" data-toggle="switch"/></td>
                    </tr>
                </table>
            </li>
            <li id="two">
                <table id="friend-table">
                    <tr>
                        <td>Zuhayeer Musa</td><td id="checkbox"><input type="checkbox" name="zm-checkbox" data-toggle="switch"/></td>
                    </tr>
                </table>
            </li>
            <li id="one">
                <table id="friend-table">
                    <tr> 
                        <td>Danish Shaik</td><td id="checkbox"><input type="checkbox" name="ds-checkbox" data-toggle="switch"/></td>
                    </tr>
                </table>
            </li>
            <li id="two">
                <table id="friend-table">
                    <tr>
                        <td>Omar Alhait</td><td id="checkbox"><input type="checkbox" name="oa-checkbox" data-toggle="switch"/></td>
                    </tr>
                </table>
            </li>

        </ul>
    </div>

    
    <script type="text/javascript">
        $(document).ready(function(){
            //feature for "huddle" or emergency meetup with photo upload and directions

            var groupvar =[];

            var id;
            var myRef = new Firebase("https://blue-outsidehacks.firebaseio.com/");
            $("[type='checkbox']").bootstrapSwitch();
            $('input[name="ak-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
              if(state){
                myRef.child("users").child("Areeb Khan").child("data").on("value",function(snapshot){
                    var obj = snapshot.val();
                    id=obj.id;
                    myRef.child(id).once("value",function(snap2){
                        if(snap2.hasChild("group")){
                            myRef.child(id).once("value",function(snap3){
                                groupvar = snap3.val().group
                            });
                        }
                    });
                    groupvar.push("Areeb Khan");
                    myRef.child("10203370578379685").update({
                        group:groupvar
                    });
                });
              } else {
                myRef.child(id).once("value",function(snap4){
                    groupvar = snap4.val().group;
                });
                var index = groupvar.indexOf("Areeb Khan");
                if (index > -1) {
                    groupvar.splice(index, 1);
                }
                myRef.child(id).update({
                    group:groupvar
                });
              }
            });

            $('input[name="zm-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
              if(state){
                myRef.child("users").child("Zuhayeer Musa").child("data").on("value",function(snapshot){
                    var obj = snapshot.val();
                    id=obj.id;
                    myRef.child(id).once("value",function(snap2){
                        if(snap2.hasChild("group")){
                            myRef.child(id).once("value",function(snap3){
                                groupvar = snap3.val().group
                            });
                        }
                    });
                    groupvar.push("Zuhayeer Musa");
                    myRef.child("10203370578379685").update({
                        group:groupvar
                    });
                });
              } else {
                myRef.child(id).once("value",function(snap4){
                    groupvar = snap4.val().group;
                });
                var index = groupvar.indexOf("Zuhayeer Musa");
                if (index > -1) {
                    groupvar.splice(index, 1);
                }
                myRef.child(id).update({
                    group:groupvar
                });
              }
            });

            $('input[name="ds-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
              if(state){
                myRef.child("users").child("Danish Shaik").child("data").on("value",function(snapshot){
                    var obj = snapshot.val();
                    id=obj.id;
                    myRef.child(id).once("value",function(snap2){
                        if(snap2.hasChild("group")){
                            myRef.child(id).once("value",function(snap3){
                                groupvar = snap3.val().group
                            });
                        }
                    });
                    groupvar.push("Danish Shaik");
                    myRef.child("10203370578379685").update({
                        group:groupvar
                    });
                });
              } else {
                myRef.child(id).once("value",function(snap4){
                    groupvar = snap4.val().group;
                });
                var index = groupvar.indexOf("Danish Shaik");
                if (index > -1) {
                    groupvar.splice(index, 1);
                }
                myRef.child(id).update({
                    group:groupvar
                });
              }
            });

            $('input[name="oa-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
              if(state){
                myRef.child("users").child("Omar Alhait").child("data").on("value",function(snapshot){
                    var obj = snapshot.val();
                    id=obj.id;
                    myRef.child(id).once("value",function(snap2){
                        if(snap2.hasChild("group")){
                            myRef.child(id).once("value",function(snap3){
                                groupvar = snap3.val().group
                            });
                        }
                    });
                    groupvar.push("Omar Alhait");
                    myRef.child("10203370578379685").update({
                        group:groupvar
                    });
                });
              } else {
                myRef.child(id).once("value",function(snap4){
                    groupvar = snap4.val().group;
                });
                var index = groupvar.indexOf("Omar Alhait");
                if (index > -1) {
                    groupvar.splice(index, 1);
                }
                myRef.child(id).update({
                    group:groupvar
                });
              }
            });

        });
    </script>

</body>




</html>